<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SegmentedTabControl.FormsPlugin" version="1.0.0" targetFramework="net461" />
  <package id="TabOrderManager" version="1.0.54" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.3.4.247" targetFramework="net461" />
</packages>